*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	color: black;

}

header{
	height: 100vh;
	background-image: url(../images/1.jpg);
	background-size: cover;
	background-position: center;

}

nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul{
	display: flex;
	list-style-type: none;


}

nav > ul > li{
	margin: 0 20px;

}

/*styling for all buttons*/
.btn {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-product {
	background-color: cyan;
	font-size: 15px;
	font-weight: bold;
	color: black;
}

#subscribeBtn {
	position: absolute;
	right: 100px;
	top: 20px;
	transition: .4s;
}

#subscribeBtn:hover {
	top: 15px;
	
}
/*Disappearing Menu CSS*/
.submenu{
	background-color: transparent;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 40px;
	visibility: hidden;

}

.submenu > div{
	width: 25%;
}

div + div{
	border-left: 1px transparent;

}

.submenu > div > h4, div > p{
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover {
	background-color: darkgray;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover  {

	visibility: visible;

}

.header-text {
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;


}

.header-text > h1 {
	font-size: 80px;

}

.header-text > h1, .header-text > p .header-text > button {
	margin-left: 40px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}

/*End CSS for Header*/

/*start of Quote CSS*/

.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;

}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}

.img-bgd {
	background-image: url(../images/2.jpg);
	height: 150vh;
	background-position: center;
	background-size: cover;
	display: flex;

}
.left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}


.left img {
	 width: 550px;
	 height: 350px;


	
}

.righttop {
	display: flex;
	width: 50%;
	align-items: center;

}

.right {
	background-color: red;
	height: 350px;
	width: 100%;
	

}
.right > div {
	display: flex;
}

.right1, .right2 {
	background-color: transparent;

	
}

.right1 h1 {
	font-size: 45px;
}

.right1 span {
	font-size: 20px;
	position: relative;
	bottom: 25px;
}

.right2 h1 {
	font-size: 45px;
}

.right2 span {
	font-size: 20px;
	position: relative;
	bottom: 25px;
}
/*end of Quote CSS*/

/*start of sec4*/
.sec4 {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec4-1 {
	display: flex;
}

.div1 {
	height: 500px;
	width: 35%;
	background-color: blue;
	margin: 2px;
	
	

}
.div1 > p {
	height: 400px;
	display: flex;
	align-items: center;
}
.div2 {
	height: 500px;
	width: 30%;
	background-color: red;
	margin: 2px;
	
	
}

.div3 {
	height: 500px;
	width: 30%;
	background-color: green;
	margin: 2px;
	
	
	
}
.div1-1 img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: relative;
	bottom: 20px;

}

.sec4 > div {
	display: flex;
}

.div1 > .div1-1 {
	height: 100px;
	border: 1px solid white;
	text-align: center;

}

.div1 > .div1-2 {
	height: 100px;
	border: 1px solid white;

}

.div1 > .div1-3 {
	height: 100px;
	border: 1px solid white;

}
/*end of sec4*/
